.manage-raci-heading {
    font-weight: bold;
    outline: 1px solid #ddd;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;

    p {
        font-size: 18px;
        margin: 0px !important;
        color: grey;
    }

    span {
        font-size: 12px;
        font-weight: normal;
    }
}

.raci-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main-raci-status-update{
        outline: 1px solid #ddd;
    margin: 10px;
    border-radius: 4px;
    height: calc(100vh - 200px);

}

.raci-main-page {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.raci-search-container {
    display: flex;
    gap: 14px;
}

.raci-search-label {
    font-weight: 600;
    font-size: 13px;
}

.raci-search-input {
    width: 600px;
}

.raci-person-details {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 13px;
}

.raci-suggestion-wrapper {
    position: relative;
    max-width: 600px;
    margin-top: 6px;
    margin-bottom: 10px;
    z-index: 10;
}

.raci-suggestion-list {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background: #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
    left: 10px;
    top: -10px;
    z-index: 10000;
}

.raci-suggestion-item {
    cursor: pointer;
    padding: 6px 10px !important;
}

.raci-suggestion-item:hover {
    background-color: rgba(22, 119, 255, 0.16);
}

.raci-suggestion-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.raci-suggestion-name {
    font-size: 13px;
}

.raci-suggestion-email {
    font-size: 12px;
    color: #b3b3b3;
}

.raci-divider {
    margin-top: 8px;
    margin-bottom: 12px;
}

.raci-project-block {
    margin-bottom: 24px;
}

.raci-project-header {
    padding: 8px 12px;
    font-weight: 600;
    font-size: 15px;
}

.raci-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}