.popupParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 60, 60, 0.5);
  display: "flex";
  justify-content: "center";
  align-items: "center";
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.popupChildBox {
    position: relative;
    top: 200px;
  background-color:white;
  padding: "20px";
  border-radius: "8px";
  width: 600px;
  height: 400px;
  text-align: "center";
  z-index: 2200;
  padding: 20px;
  border-radius: 10px;
}
